* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --display: {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

html {
  font-size: 62.5%;
}

header {
  background-color: #000;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 95vw;
  margin: 0 auto;
  padding: 1.7rem 0;
  color: #c3c3c3;
  font-size: 1.6rem;
  nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    li a {
      padding: 0.8rem 1rem;
      text-decoration: none;
      color: #c3c3c3;
    }
  }
  .searchArea,
  .searchAreaDropDown_All,
  .watchList,
  .user,
  .lang,
  .themeMode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 0.5rem;
  }
  .searchArea {
    width: 32%;
    background-color: #1a1a1a;
    padding: 1.15rem 1rem;
    border-radius: 1rem;
    input {
      width: 100%;
      border: none;
      outline: none;
      font-size: 1.6rem;
      color: #c3c3c3;
      background-color: transparent;
      padding-left: 0.5rem;
    }
  }
  .watchList,
  .user,
  .lang,
  .themeMode {
    padding: 1.15rem 1rem;
    &:hover {
      background-color: #1a1a1a;
      border-radius: 1rem;
    }
  }
}
