.picksCards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 120px;
    overflow:auto;
}
.picksCards #card{
    max-width: 228px;
    margin: auto;
    background-color: #a3a3a31a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 12px;
    border-radius: 1rem;
    
}
.picksCards #card img{
    display: block;
    transition: transform .4s;
}
.picksCards #card .cardImg:hover:first-of-type{
  transform: scale(1.09);
  transition: transform .4s;
}
.picksCards #card h3{
    font-size: 2rem;
    font-weight: 400;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
    color: #C3C3C3;
    margin-block: 17px;
}
.cardReyting{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 17px;
}
.cardReyting span{
    display: flex;
    align-items: center;
    gap: 1.5px;
    font-size: 1.6rem;
    color: #C3C3C3;
}
.picksCards .cardBtn{
    border-radius: 1rem;
    cursor: pointer;
    box-shadow:inset 1px 1px 5px #ffffff05;
    transition: .2s;

}
.picksCards{
    scroll-behavior: smooth;
}
.picksCards .cardBtn:hover{
   opacity: 0.6;
   transition: .2s;
}