 
 .StreamingCard{
    max-width: 95vw;
    margin: auto;
}
.StreamingCard h1{
    font-size: clamp(2rem, 12vw, 21rem);
    z-index: -1;
    color: #C3C3C3;
    opacity: 10%;
    white-space: nowrap;
    text-align: center;
    font-weight: 700;
}
.strMenu{
    display: flex;
    align-items: center;
    background-color: #a3a3a34d;
    padding: .9rem;
    gap: 5rem;
    border-radius: 1.8rem;
}

.strMenu h5{
    font-size: 1.8rem;
    color: #C3C3C3;
    cursor: pointer;
    font-weight: 400;
    padding: 1.2rem 2.2rem;
}
.strMenu h5.active{
    background-color: #F5C518;
    border-radius: 1rem;
    color: black;
}
.strMenu h5:hover{
    background-color: #F5C518;
    border-radius: 1rem;
    color: black;
}
