:root {
    --primary-bg: #000;
    --secondary-bg: #1a1a1a;
    --text-color: #c3c3c3;
    --padding-horizontal: clamp(0.5rem, 1vw, 1.2rem);
    --padding-vertical: clamp(0.4rem, 0.8vw, 1rem);
    --gap: clamp(0.5rem, 1vw, 1.5rem);
    --font-size: clamp(1.2rem, 1.5vw, 1.6rem);
  }

  ::-webkit-scrollbar {
    display: none;
  }
  .topPicks{
    position: relative;
    max-width: 95vw;
    margin:120px auto auto;
  }
  .topPicks h1{
    position: absolute;
    font-size: clamp(2rem, 14vw, 22rem);
    z-index: -1;
    color: #C3C3C3;
    opacity: 10%;
    white-space: nowrap;
    text-align: center;
    top:clamp(-1.5rem , 14vw, -7rem);
    bottom:401px;
    font-weight: 700;
  }
  .textBtn p{
     font-size: 16px;
     color: #797979;
  }
  .top{
    color: #fff;
    display: flex;
    justify-content: space-between;
    max-width: 95vw;
    margin: auto;
    padding-block: 10px;
}
.textBtn h2{
    font-size: 2.8rem;
    font-weight: 200;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
    margin-bottom: 5px;
}
.textBtn h2 span{
    border: 4px solid #F5C518;
    border-radius: 50%;
}
.top  .btn{
   display: flex;
   align-items: center;
   gap: 5px;
}
.top  .btn img{
    background-color: #a3a3a358;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
}
.top  .btn #arrow1{
    transform:rotate(90deg);
    opacity: 0.5;
}
.top  .btn #arrow2{
    transform:rotate(-90deg);
    
}